name: Android CI
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4 # v3'ten v4'e güncellendi
      with:
        submodules: 'recursive'
    - name: set up JDK 17
      uses: actions/setup-java@v4 # v3'ten v4'e güncellendi
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew assembleDebug
    - name: Upload APK
      uses: actions/upload-artifact@v4 # Hatanın asıl sebebi burasıydı, v4 yaptık
      with:
        name: vpn-app
        path: app/build/outputs/apk/debug/*.apk
