name: Android CI
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: 'recursive'
        fetch-depth: 0

    - name: set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: gradle

    - name: Setup Android NDK
      uses: android-actions/setup-android@v3
      with:
        ndk-version: '25.1.8937393' # v2rayNG için en stabil sürüm

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
      working-directory: V2rayNG

    - name: Build with Gradle
      # Belleği artırmak için org.gradle.jvmargs ekledik ve hataları atladık
      run: ./gradlew assembleDebug -Dorg.gradle.jvmargs="-Xmx4g -XX:MaxMetaspaceSize=1g" -x lint -x test
      working-directory: V2rayNG

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: vpn-app
        path: V2rayNG/app/build/outputs/apk/debug/*.apk
